.banner-contact img{
	width: 100%;
	margin-top: 0;
}


.banner-contact-top{
	position: absolute;
	width: 20em;
	margin-left: 1.2em;
	margin-top: 2em; 
	color: #FFFFFF;
}

@media only screen and (min-width: 1250px) {
	.banner-contact-top{
	margin-left: 5%;
}
}
.banner-contact-top p{
	margin-top: -1em; 
}

.contact{
	height: 100em;
	clear: both;
	padding-top: .5em;
	margin-top: 1em;

}

.contact-inside{
	float: left;
	margin-left: 1.2em;
}
.contact-inside-right{
	float: right;
	margin-left: 1.2em;
	margin-top: 1em;
}


@media only screen and (min-width: 960px) {
	.contact{
	height: 55em;
}
	.contact-inside{
		width: 50%;
	}
	.contact-inside-right{
		width: 50%;
		float: left;
	}
}