<footer>

  <div class="footer-nav grid">

    <div class="footer-donate unit unit-s-1 unit-m-1 unit-l-1-3">
        <h1>Donate</h1>
        <p>Support the Center for Biological Diversity with a gift online today.</p>
        
        <a class="btn-donate peta" href="{{site.baseurl}}/donate">Donate</a>
        
    </div>

    <div class="footer-contact unit unit-s-1 unit-m-1 unit-l-1-3">
        <h1>Contact Us</h1>
        <p>P.O. Box 710<br>Tucson, AZ 85702-0719</p>
        <p>tel: (520) 623-5252<br>toll-free: (866) 357-3349<br>fax: (520) 623-9797</p>
        <p>center@biologicaldiversity.org</p>
        
        <center>
             <div class="social-media grid">
                 <div class="social unit unit-s-1-5 unit-m-1-5 l-1-5">
                     <a class="btn-social" href="https://www.facebook.com/CenterforBioDiv/?ref=ts" target="_blank">
                         <i class="icon-facebook"></i>
                     </a>
                 </div>
                <div class="social unit unit-s-1-5 unit-m-1-5 l-1-5">
                    <a class="btn-social" href="https://www.instagram.com/CenterForBioDiv/">
                        <i class="icon-instagram"></i>
                    </a>
                </div>
                <div class="social unit unit-s-1-5 unit-m-1-5 l-1-5">
                    <a class="btn-social" href="https://www.youtube.com/user/bioactivist">
                        <i class="icon-youtube"></i>
                    </a>
                 </div>
                 <div class="social unit unit-s-1-5 unit-m-1-5 l-1-5">
                     <a class="btn-social" href="https://twitter.com/CenterForBioDiv">
                         <i class="icon-twitter"></i>
                     </a>
                 </div>
                <div class="social unit unit-s-1-5 unit-m-1-5 l-1-5">
                    <a class="btn-social" href="https://medium.com/center-for-biological-diversity">
                        <i class="icon-medium"></i>
                    </a>
                </div>
            </div>
        </center>
    </div>

    <div class="footer-join unit unit-s-1 unit-m-1 unit-l-1-3">
        <h1>Join Us</h1>
        <p>It's simple. We work to secure a future for endangered species, and your contributions make our work possible.</p>
        <p>Our members are their lifeline.</p> 
        
        <div class="form-style-6">
            <form>
                <input class="email" type="email" name="field2" placeholder="Enter Your Email"/>
                <input class="peta btn-updates" type="submit" value="Get Updates"/>
            </form>
        </div>
    </div>
        
  </div>
      

  <p class="copyright">Copyright © 2016 Center for Biological Diversity</p>

</footer>
