<header>
    
    <div class="nav-wrapper">
        
        <a href="{{site.baseurl}}/"><img class="nav-logo" src="{{site.baseurl}}/images/logo-colour.svg" alt="CBD Logo"></a>
        
        <div class="navigation">
            <nav role="navigation">
                <ul>
                    <li class="nav-link"><a href="{{site.baseurl}}/about" class="{% if page.url == '/about/' %}current{% endif %}">About</a></li>
                    <li class="nav-link"><a href="{{site.baseurl}}/action" class="{% if page.url == '/action/' %}current{% endif %}">Action</a></li>
                    <li class="nav-link"><a href="{{site.baseurl}}/news" class="{% if page.url == '/news/' %}current{% endif %}">News</a></li>
                    <li class="nav-link"><a href="{{site.baseurl}}/species" class="{% if page.url == '/species/' %}current{% endif %}">Species</a></li>
                </ul>
                <a class="btn-donate peta" href="#">Donate</a>
            </nav>
        </div>
        
    </div>

</header>