
      <header class="header">
      
        </nav>  

<div class="site-wrapper" data-state="slide-closed">
<div class="sliding-canvas">
  <header class="header">
    <div class="nav-wrapper">
        
        <a href="{{site.baseurl}}/"><img class="nav-logo toggle-btn i-menu" src="{{site.baseurl}}/images/logo-colour.svg" alt="CBD Logo"></a>
        
        <div class="navigation slide-menu">
            <nav role="navigation">
                <input type="checkbox" class="nav-check" id="nav check">
                <label for="nav-check">
                   <i class="icon-menu"></i>
                </label>
        <div class="sidebar-1"> 
        <div class="sidebar-menu">About<div class="expand"></div></div>
        <div class="sub-menu">
            <ul>
                <li class="uppercase">Mission</li>
                <li class="tab-left">Our Story</li>
                <li class="uppercase">Staff</li>
                <li class="tab-left">Staff</li>
                <li class="tab-left">Directors</li>
                <li class="tab-left">Jobs & Internships</li>
                <li class="tab-left">Staff Directory</li>
                <li class="uppercase">Campaigns</li>
                <li class="uppercase">Contact</li>
            </ul>
        </div>
        <div class="sidebar-menu">Action<div class="expand"></div></div>
        <div class="sub-menu">
            <ul>
                <li class="uppercase">Overview</li>
                <li class="uppercase">Events</li>
                <li class="tab-left">Events</li>
                <li class="tab-left">Action Alerts</li>
                <li class="tab-left">Toolbox</li>
                <li class="uppercase">Petitions</li>
                <li class="tab-left">Listings Petitions</li>
                <li class="tab-left">Habitat Petitions</li>
                <li class="uppercase">Climate Law</li>
            </ul>
        </div>
        <div class="sidebar-menu">News<div class="expand"></div></div>
        <div class="sub-menu">
            <ul>
                <li class="uppercase">Overview</li>
                <li class="uppercase">Networks</li>
                <li class="tab-left">Newsletter</li>
                <li class="tab-left">E-Network</li>
                <li class="tab-left">Pop-X</li>
                <li class="uppercase">Reports</li>
                <li class="tab-left">Annual Reports</li>
                <li class="tab-left">Special Status Reviews</li>
                <li class="tab-left">Research Topics</li>
                <li class="uppercase">Media</li>
                <li class="tab-left">Press Releases</li>
                <li class="tab-left">Center in the News</li>
                <li class="tab-left">Perspectives & Op Eds</li>
                <li class="tab-left">Audio & Video</li>
                <li class="tab-left">Species Status Reviews</li>
                <li class="tab-left">In the Spotlight</li>
            </ul>
        </div>
        <div class="sidebar-menu">Species<div class="expand"></div></div>
        <div class="sub-menu">
            <ul>
                <li class="uppercase">Species Overview</li>
                <li class="tab-left">Amphibians</li>
                <li class="tab-left">Birds</li>
                <li class="tab-left">Fish</li>
                <li class="tab-left">Invertebrates</li>
                <li class="tab-left">Mammals</li>
                <li class="tab-left">Plants</li>
                <li class="tab-left">Reptiles</li>
            </ul>
        </div>
    </div>
                <!--<ul>
                    <li class="nav-link"><a href="{{site.baseurl}}/about" class="{% if page.url == '/about/' %}current{% endif %}">About</a></li>
                    <li class="nav-link"><a href="{{site.baseurl}}/action" class="{% if page.url == '/action/' %}current{% endif %}">Action</a></li>
                    <li class="nav-link"><a href="{{site.baseurl}}/news" class="{% if page.url == '/news/' %}current{% endif %}">News</a></li>
                    <li class="nav-link"><a href="{{site.baseurl}}/species" class="{% if page.url == '/species/' %}current{% endif %}">Species</a></li>
                </ul>-->
            
            </nav>
        </div>
        
    </div>
    </div>
  </div>
    
  <a class="btn-donate peta" href="#">Donate</a>
</header>