main{
	min-width:360px;
}

.banner-contact img{
	width: 100%;
	margin-top: 0;
}


.banner-contact-top{
	position: absolute;
	width: 10em;
	margin-left: 1.2em;
	margin-top: 2em; 
	color: $white;
}

@media only screen and (min-width: 700px) {
	.banner-contact-top{
	width: 20em;
	margin-left: 5%;
}
}

@media only screen and (min-width: 1250px) {
	.banner-contact-top{
	margin-left: 5%;
}
}
.banner-contact-top p{
	margin-top: -1em; 
}

.contact{
	height: 95em;
	clear: both;
	margin-top: 1em;
	width: 100%;
	p{
	margin-top:-1em;
	}
}
@media only screen and (min-width: 550px) {
.contact{
	height: 80em;
}
}

.contact-inside{
	float: none;
	margin-left: 1.2em;
}
.contact-inside-right{
	float: none;
	margin-left: 1.2em;
}


@media only screen and (min-width: 960px) {
	.contact{
	height: 60em;
}
	.contact-inside{
		float:left;
		width: 25%;
	}
	.contact-inside-right{
		margin-right: 25%;
		float: right;
		width: 25%;
	}
}

