@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  overflow-x: hidden;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[hidden] {
  display: none;
}

body{
  font-family: "Roboto";
  @include zero;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.media {
	width: 400px;
	height: 400px;
	padding: 5em;
}

.span {
    column-span: all;
}

// ---------- BANNER

.main-banner-content {
    margin-top: -6em;
    padding-bottom: 2em;
}

.main-banner-text {
    color: $white;
    text-align: center;
    font-weight: lighter;
    line-height: 1em;
}

.banner-link {
    text-decoration: none;
}

.main-banner-text:hover,
.main-banner-text:focus,
.main-banner-text:active {
    color: darken($white,15%);
}

// ------- CAROUSEL

.drop-shadow {
    filter: dropshadow((5px 5px 10px $black));
}

.carousel i {
    z-index: 1000;
    color: $white;
    display: block;
    position: absolute;
    font-size: 6em;
    margin-left: 0.2em;
    margin-top: -0.2em;
}

.carousel {
    margin-top: -1.3em;
}

@media only screen and (min-width: 540px) {
    .carousel i {
       font-size: 10em;
    }  
}

@media only screen and (min-width: 700px) {
    .carousel {
        margin-top: -0.2em;
    }
    
    .carousel i {
        display: none;
    }   
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover,
.carousel-control:focus,
.carousel-control:active {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 30px;
}

.carousel-bullet:hover,
.carousel-bullet:focus,
.carousel-bullet:active {
    color: darken($white,15%);
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet {
    color: $medium-green;
}

// ---------HOME PAGE

.circle-image {
    border-radius: 50%;
    margin-bottom: 1em;
    margin-top: -1em;
    padding: 2em;
}

.btn-learn-more {
    @include btn-learn-more;
}

.btn-join-us {
    @include btn-join-us;
    margin-bottom: 0.2em;
}

.btn-sign-petition {
    @include btn-sign-petition;
}

.btn-read-more {
    @include btn-read-more;
}

.btn-watch-more {
    @include btn-watch-more;
}

.btn-listen {
    @include btn-listen;
}

.link {
    color: $white;
    &:hover {
        color: darken($white,20%);
    }
}

.in-the-spotlight {
    margin: 1em;
}

.spotlight-title {
    margin-bottom: -2em;
}

.about-the-center {
    background-color: $grey;
}

.about-the-center-content {
    margin: 1em;
}

.about-buttons {
    margin: 1em;
    display: block;
}

@media only screen and (min-width: 700px) {
    .about-the-center {
        padding: 4em;
        background-color: $grey;
    }
    
    .circle-image {
        padding: 0em;
        margin-bottom: 2em;
    }
}

.breaking-news {
    background-color: $dark-blue;
}

.breaking-news-content {
    color: $white;
    margin: 1em;
}

.take-action {
    background-color: $dark-green;
}

.take-action-content {
    margin: 1em;
    color: $white;
}

.brief {
    background-color: $dark-red;
}

.brief-content {
    color: $white;
    margin: 1em;
}

.ringtones {
    background-color: $dark-orange;
}

.ringtones-content {
    color: $white;
    margin: 1em;
}

.videos {
    background-color: $dark-red;
}

.videos-content {
    color: $white;
    margin: 1em;
}

.spotlight {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1.4em;
}

.in-the-spotlight-content {
    background-color: $grey;
}

.brief-content i {
    padding-left: 0.4em; 
    padding-right: 0.4em;
    padding-top: 0.4em;
    padding-bottom: 0.2em;
    font-size: 5em;
    color: $black;
    background-color: $white;
    border-radius: 50%;
}

@media only screen and (min-width: 600px) {
    .brief-content {
        padding: 4em;
    }
    
    .ringtones-content {
        padding: 4em;
    }
    
    .videos-content {
        padding: 4em;
    }   
}

@media only screen and (min-width: 960px) {
    .brief-content {
        padding: 0em;
    }
    
    .ringtones-content {
        padding: 0em;
    }
    
    .videos-content {
        padding: 0em;
    }
}

// -----ABOUT PAGE

.about-page-intro {
    background-color: $grey;
    margin-top: -1.3em;
    padding: 1em;
    
}

.about-page-intro-content {
    color: $black;
}

@media only screen and (min-width: 700px) {
    .about-page-intro{
        padding: 4em;
        margin-top: -0.2em;
    }
    
    .about-page-intro-content {
        padding-right: 6em;
    }
}

.mission {
    padding: 1em;
    background-color: $dark-green;
}

.mission-content {
    color: $white;
}

@media only screen and (min-width: 700px) {
    .mission {
        padding: 4em;
    }
}

.story {
    padding: 1em;
    background-color: $grey;
}

@media only screen and (min-width: 700px) {
    
    .story {
        padding: 4em;
    }
}

@media only screen and (min-width: 800px) {
    .two-column {
        column-count: 2;
        column-gap: 40px;
    }
}

// -----DONATE PAGE

.gift {
    padding: 1em;
    background-color: $grey; 
}

.donate-banner {
    display: block;
    width: 100%;
    z-index: 0;
    margin-top: -1.3em;
}

.donate-banner-text {
    color:$white;
    z-index: 100;
    position: absolute;
    margin-top: 3.5em;
    line-height: 1em;
    letter-spacing: -0.05em;
}

.donate-banner i {
    z-index: 1000;
    color: $white;
    display: block;
    position: absolute;
    font-size: 6em;
    margin-left: 0.2em;
    margin-top: -0.2em;
}

.billing-info {
    padding: 1em;
    background-color: $dark-green; 
    color: $white;
}

.donate-contact li {
    list-style-type: none;
    
}

@media only screen and (min-width: 540px) {
    .donate-banner i {
       font-size: 10em;
    }
    
    .donate-banner-text {
        letter-spacing: 0em;
        margin-top: 14em;
    }
} 

@media only screen and (min-width: 700px) {
    
    .donate-banner i {
        display: none;
    }   
    
    .donate-banner-text {
        margin-top: 0em;
    } 
    
    .donate-banner {
        margin-top: -0.2em;
    }
    
    .gift {
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 6em;
        padding-right: 6em;
    }
    
    .billing-info {
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 6em;
        padding-right: 6em;
    }
}

@media only screen and (min-width: 1000px) {
    .gift {
        padding-left: 14em;
        padding-right: 14em;
    
    }
    
    .billing-info {
        padding-left: 14em;
        padding-right: 14em;
    }
}

// --- DONATE PAGE - FORM

.width {
    width: 100%;
    height: 3em;
    outline: solid 1px $grey;
    border-style: none;
    margin-bottom: 0.5em;
}

.width:focus {
	outline: 3px solid $orange;
}

.form-title {
    text-transform: uppercase;
    margin-top: 0.5em;
    
}

.side-form {
	position: relative;
    padding-bottom: 4em;
}

.form-block {
    display: block;
}

input[type="email-donate"]{
    width: 100%;
}

.text-area {
    width: 100%;
}

.btn-submit {
    @include btn-submit;
}


// ------ CAMPAIGN DIRECTORY PAGE
   
.campaign-banner-text {
    color:$white;
    z-index: 100;
    position: absolute;
    margin-top: 2.5em;
    line-height: 1em;
    letter-spacing: -0.05em;
}

.campaign-directory-banner i {
    z-index: 1000;
    color: $white;
    display: block;
    position: absolute;
    font-size: 6em;
    margin-left: 0.2em;
    margin-top: -0.2em;
}

.campaign-directory-banner {
    display: block;
    width: 100%;
    z-index: 0;
    margin-top: -1.3em;
}

@media only screen and (min-width: 540px) {
    .campaign-directory-banner i {
       font-size: 10em;
    }
    
    .campaign-banner-text {
        margin-top: 8em;
        letter-spacing: 0em;
    }
}

@media only screen and (min-width: 700px) {
    .campaign-directory-banner i {
        display: none;
    }   
    
    .campaign-banner-text {
        margin-top: 0em;
    }
    
    .campaign-directory-banner {
        margin-top: -0.2em;
    }
}

.endangered-species {
    padding: 1em;
    background-color: $grey;
}

.climate-law {
    color: $white;
    padding: 1em;
    background-color: $dark-green;
}

.oceans {
    padding: 1em;
    background-color: $dark-blue; 
    color: $white;
}

.population {
    padding: 1em;
    background-color: $dark-orange; 
    color: $white;
}

.public-lands {
    padding: 1em;
    background-color: $grey; 
    color: $black;
}

.environmental-health {
    padding: 1em;
    background-color: $dark-green; 
    color: $white;
}

@media only screen and (min-width: 700px) {
    .endangered-species {
        padding: 4em;
        column-count: 2;
        column-gap: 40px;
    }
    
    .climate-law {
        padding: 4em;
    }
    
    .oceans {
        padding: 4em;
    }
    
    .population {
        padding: 4em; 
    }
    
    .public-lands {
        padding: 4em; 
        column-count: 2;
        column-gap: 40px;
    }
    
    .environmental-health {
        padding: 4em; 
    }
}
// ------- CONTACT

.contact-banner-text {
    color:$white;
    z-index: 100;
    position: absolute;
    margin-top: 2.5em;
    line-height: 1em;
    letter-spacing: -0.05em;
}

.contact-banner i {
    z-index: 1000;
    color: $white;
    display: block;
    position: absolute;
    font-size: 6em;
    margin-left: 0.2em;
    margin-top: -0.2em;
}

.center-in-the-news-banner {
    display: block;
    width: 100%;
    z-index: 0;
    margin-top: -1.3em;
}

.center-in-the-news {
    padding: 1em;
    background-color: $grey;
}

@media only screen and (min-width: 540px) {
    .center-in-the-news-banner i {
       font-size: 10em;
    }
    
    .contact-banner-text {
        margin-top: 8em;
        letter-spacing: 0em;
    }
}

@media only screen and (min-width: 700px) {
    .contact-banner i {
        display: none;
    }   
    
    .contact-banner {
        margin-top: -0.2em;
    }
    
    .contact-banner-text {
        margin-top: 0em;
    }
}


.alaska {
    background-color: $grey;
    color: $black;
    
}

.arizona {
    background-color: $dark-blue;
    color: $white;
   
}

.california {
    background-color: $dark-green;
    color: $white;
   
}

.florida {
    background-color: $dark-red;
    color: $white;
    
}

.hawaii {
    background-color: $dark-orange;
    color: $white;
   
}

.mexico {
    background-color: $grey;
    color: $black; 
   
}

.minnesota {
    background-color: $dark-blue;
    color: $white;
    
}

.new-york {
    background-color: $dark-green;
    color: $white;

}

.oregon {
    background-color: $dark-red;
    color: $white;
 
}

.vermont {
    background-color: $dark-orange;
    color: $white;
   
}

.washington {
    background-color: $grey;
    color: $black;
    
}

.washington-dc {
    background-color: $dark-blue;
    color: $white;
    
}

@media only screen and (min-width: 540px) {

 
}

// ---------- FOOTER

footer {
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 2em;

  a{
    text-decoration: none;
    &:visited{
      color: $white;
    }
  }
}
.footer-donate {
    padding: 1em;
}

.footer-contact {
    padding: 2em;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    z-index: 100;
}

.footer-join {
    padding: 1em;
}

  .social {
        margin-left: 0em;
    }

.btn-social {
    background-color: $white;
    text-decoration: none;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.4em;
    padding-bottom: 0.2em;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
    text-align: center;
}

.btn-social:hover,
.btn-social:active,
.btn-social:focus {
    background-color: darken($white,20%);
}

.btn-social i {
    vertical-align: middle;
    font-size: 1em;
    color: $black;  
    text-align: center;
}

.btn-donate {
    @include btn-donate;
}
    
.btn-updates {
    @include btn-updates;
}

.copyright{
    padding-top: 4em;
    text-align: center;
    font-size: 0.6em;
    margin: 0;
    letter-spacing: 0.2em;
    
}

input[type="submit"]{
    -webkit-appearance: none;
    cursor: pointer;
    border: 0;
}

input[type="email"]{
    -webkit-appearance: none;
    cursor: pointer;
    border: 0;
    width: 198px;
    height: 3em;
}

input[placeholder="Enter Your Email"]{
    padding-left: 0.8em;
    display: block;
    margin: 1em auto;
    box-sizing: border-box;
}

@media only screen and (min-width: 608px) { 
    .social-media {
        margin-left: 0;
        margin-right: 0;
        padding-left: 6em;
        padding-right: 6em;
    }
    
    .btn-social i {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 900px) {
    .social-media {
        padding-left: 14em;
        padding-right: 14em;
    }
}

@media only screen and (min-width: 960px) {
    .footer-contact {
        border: 0;
        border-left: solid $white;
        border-right: solid $white;
    }
    
    .social-media {
        padding: 0;
    }
}

//------------------- Media Gallery

.gal {
    padding: 1em;
}

.center-in-the-news-text {
    color:$white;
    z-index: 100;
    position: absolute;
    margin-top: 2.5em;
    line-height: 1em;
    letter-spacing: -0.05em;
}

.center-in-the-news-banner i {
    z-index: 1000;
    color: $white;
    display: block;
    position: absolute;
    font-size: 6em;
    margin-left: 0.2em;
    margin-top: -0.2em;
}

.center-in-the-news-banner {
    display: block;
    width: 100%;
    z-index: 0;
    margin-top: -1.3em;
}

.center-in-the-news {
    padding: 1em;
    background-color: $grey;
}

@media only screen and (min-width: 540px) {
    .center-in-the-news-banner i {
       font-size: 10em;
    }
    
    .center-in-the-news-text {
        margin-top: 8em;
        letter-spacing: 0em;
    }
}

@media only screen and (min-width: 700px) {
    .gal {
        padding: 4em;
}

    .center-in-the-news-banner i {
        display: none;
    }   
    
    .center-in-the-news-text {
        margin-top: 0em;
    }
    
    .center-in-the-news-banner {
        margin-top: -0.2em;
    }
    
    .center-in-the-news {
        padding: 4em;
    }
}

.media-2{
    img{
        border-radius: 50%;
        width: 400px;
        z-index: 100;
        padding: 0 0 5em;
    }
}

.media-3{
    img{
        border-radius: 50%;
        width: 400px;
    }
}

.img-gal {
    border-radius: 50%;
}

article {
    margin-bottom: 3rem;
    position: relative;
    *zoom: 1;
}

article:before, article:after {
    content: "";
    display: table;
}

article:after { 
    clear: both 
}

.info {
    height:15em;
}

section {
    -webkit-transition: .125s linear;
    -moz-transition: .125s linear;
    -ms-transition: .125s linear;
    -o-transition: .125s linear;
    transition: .125s linear;
}

input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

[for="toggle1"] {
    left: 0;
    width: 100%;
    text-align: center;
    padding: .65rem;
    overflow:hidden;
}

[for="toggle1"]:hover {
    color: rgb(100,100,100);
    background: none;
    z-index:100;
}
[for="toggle1"] span:last-of-type {
    display: none;
    visibility: hidden;
    background:white;
    height: 20em;
    border-radius: 5%;
}

input[type=checkbox]:checked ~ figure { width: 100% }

input[type=checkbox]:checked ~ [for="toggle1"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="toggle1"] span:last-of-type {
    display: block;
    visibility: visible;
}

[for="toggle2"] {
    left: 0;
    height:25em;
    width: 100%;
    text-align: center;
    padding: .65rem;
    overflow: hidden;
}

[for="toggle2"]:hover {
    color: rgb(100,100,100);
    z-index:100;
    background:none;
}
[for="toggle2"] span:last-of-type {
    display: none;
    visibility: hidden;
    background:white;
    height: 25em;
    border-radius: 5%;

}

input[type=checkbox]:checked ~ figure { width: 100% }

input[type=checkbox]:checked ~ [for="toggle2"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="toggle2"] span:last-of-type {
    display: block;
    visibility: visible;
}

[for="toggle3"] {
    left: 0;
    width: 100%;
    text-align: center;
    padding: .65rem;
    overflow:hidden;
}

[for="toggle3"]:hover {
    color: rgb(100,100,100);
    z-index:100;
    background:none;
}
[for="toggle3"] span:last-of-type {
    display: none;
    visibility: hidden;
    background:white;
    height: 22em;
    border-radius: 5%;

}


input[type=checkbox]:checked ~ figure { width: 100% }

input[type=checkbox]:checked ~ [for="toggle3"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="toggle3"] span:last-of-type {
    display: block;
    visibility: visible;
}

[for="toggle4"] {
    left: 0;
    width: 100%;
    text-align: center;
    padding: .65rem;
    overflow:hidden;
}

[for="toggle4"]:hover {
    color: rgb(100,100,100);
    background: none;
    z-index:100;
}

[for="toggle4"] span:last-of-type {
    display: none;
    visibility: hidden;
    background:white;
    height: 22em;
    border-radius: 5%;

}

input[type=checkbox]:checked ~ figure { width: 100% }

input[type=checkbox]:checked ~ [for="toggle4"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="toggle4"] span:last-of-type {
    display: block;
    visibility: visible;
}

[for="toggle5"] {
    left: 0;
    width: 100%;
    text-align: center;
    padding: .65rem;
    overflow:hidden;
}

[for="toggle5"]:hover {
    color: rgb(100,100,100);
    background: none;
    z-index:100;
}

[for="toggle5"] span:last-of-type {
    display: none;
    visibility: hidden;
    background:white;
    height: 22em;
    border-radius:5%;
}


input[type=checkbox]:checked ~ figure { width: 100% }

input[type=checkbox]:checked ~ [for="toggle5"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="toggle5"] span:last-of-type {
    display: block;
    visibility: visible;
}

[for="toggle6"] {
    left: 0;
    width: 100%;
    text-align: center;
    padding: .65rem;
    overflow:hidden;
}

[for="toggle6"]:hover {
    color: rgb(100,100,100);
    background: none;
    z-index:100;
}

[for="toggle6"] span:last-of-type {
    display: none;
    visibility: hidden;
    background:white;
    height: 15em;
    border-radius: 5%;
}


input[type=checkbox]:checked ~ figure { width: 100% }

input[type=checkbox]:checked ~ [for="toggle6"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="toggle6"] span:last-of-type {
    display: block;
    visibility: visible;
}

[for="toggle7"] {
    left: 0;
    width: 100%;
    text-align: center;
    padding: .65rem;
    overflow:hidden;
}

[for="toggle7"]:hover {
    color: rgb(100,100,100);
    background: none;
    z-index:150;
}
[for="toggle7"] span:last-of-type {
    display: none;
    visibility: hidden;
    background:white;
    height: 25em;
    border-radius: 5%;
}

input[type=checkbox]:checked ~ section {
    display: block;
    visibility: visible;
    width: 100%;
}

input[type=checkbox]:checked ~ figure { width: 100% }

input[type=checkbox]:checked ~ [for="toggle7"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="toggle7"] span:last-of-type {
    display: block;
    visibility: visible;
}

[for="toggle8"] {
    left: 0;
    width: 100%;
    text-align: center;
    padding: .65rem;
    overflow:hidden;
}

[for="toggle8"]:hover {
    color: rgb(100,100,100);
    background: none;
    z-index:100;
}

[for="toggle8"] span:last-of-type {
    display: none;
    visibility: hidden;
    background:white;
    height: 18em;
    border-radius: 5%;

}

input[type=checkbox]:checked ~ figure { width: 100% }

input[type=checkbox]:checked ~ [for="toggle8"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="toggle8"] span:last-of-type {
    display: block;
    visibility: visible;
    background:white;
    height: 18em;
    border-radius: 5%;
}


