@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  overflow-x: hidden;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[hidden] {
  display: none;
}

body{
  font-family: "Roboto";
  @include zero;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

// ---------- FOOTER

footer {
    background-color: $black;
    color: $white;
    text-align: center;
    padding: 2em;

  a{
    text-decoration: none;
    &:visited{
      color: $white;
    }
  }
}
.footer-donate {
    padding: 1em;
}

.footer-contact {
    padding: 1em;
    border-top: solid $white;
    border-bottom: solid $white;
    z-index: 100;
}

.footer-join {
    padding: 1em;
}
    

.btn-social {
    background-color: $white;
    text-decoration: none;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5em;
}

.btn-social:hover,
.btn-social:active,
.btn-social:focus {
    background-color: darken($white,20%); ;
}

.btn-social i {
    vertical-align: middle;
    font-size: 1em;
    color: $black;    
}

.btn-donate {
    @include btn-donate;
}
    
.banner {
    margin-bottom: 4em;
}

.btn-updates {
    @include btn-updates;
}

.copyright{
    padding-top: 4em;
    text-align: center;
    font-size: 0.6em;
    margin: 0;
    letter-spacing: 0.2em;
    
}

input[type="submit"]{
    -webkit-appearance: none;
    cursor: pointer;
    border: 0;
}

input[type="email"]{
    -webkit-appearance: none;
    cursor: pointer;
    border: 0;
    width: 198px;
    height: 3em;
}

input[placeholder="Enter Your Email"]{
    padding-left: 0.8em;
    display: block;
    margin: 1em auto;
    box-sizing: border-box;
}





// ---------- TABLET PORTRAIT
  
@media only screen and (min-width: 700px) {
    .social-media {
        margin-right: 10em;
        margin-left: 10em;
    }
}

@media only screen and (min-width: 958px) {
    .footer-contact{
        border: 0;
        border-left: solid $white;
        border-right: solid $white;
    }
    
    .social-media {
        margin-left: 0;
        margin-right: 0;
    }
}

// ---------- TABLET LANDSCAPE + DESKTOP
@media only screen and (min-width: 960px) {

}