<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Center for Biological Diversity</title>
  <link href="https://file.myfontastic.com/MeKBUevDXY4QhB2b9U7LEj/icons.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Roboto+Condensed:700" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.png">
</head>
<body>
    
 <div class="site-wrapper" data-state="slide-closed">
        <div class="sliding-canvas">
    
        {% include header.html %}

        {{content}}

        {% include footer.html %}
            
        </div>
</div>
        
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="js/main.js"></script>
        
    
</body>


</html>